*{
     font-family: Arial, sans-serif;
     
}

.bg_dark{
     background-color: #363636;
}

.color_btn{
     color:white !important;
}

.bg_nero{
     background-color: #000000;
}

.bg_arancione{
     background-color: #cd3d0f;
}

.section_1_bg_image{
     background-image: url('./img/jumbo-bg.png'); 
     height: 85vh;
     background-position: center;
     background-repeat: no-repeat;
     background-size:cover;
     width: 100%;
}

.border_radius{
     border-radius:1.3rem;
     border:solid 2px #0072ce;
}